{% extends 'layouts/base.html' %}
{% load static %}

{% block titulo %}Oportunidades{% endblock titulo %}

{% block extracss %}
<link href="{% static 'css/radio-button.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block contenido%}
<div class="container">
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="cntr">
            <label for="rdo-1" class="btn-radio">
                <input type="radio" id="rdo-1" name="radio-grp" value="Oportunidades Abiertas">
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                    <circle cx="10" cy="10" r="9"></circle>
                    <path
                        d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                        class="inner"></path>
                    <path
                        d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                        class="outer"></path>
                </svg>
                <span></span>
            </label>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-info"><i class="fas fa-briefcase"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h2 class="m-b-0 font-light text-center">{{ cantidad_abiertas}}</h2>
                        <h5 class="text-muted m-b-0 text-center">
                            {% if cantidad_abiertas == 1%}
                            Oportunidad Abierta
                            {% else %}
                            Oportunidades Abiertas
                            {% endif %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="cntr">
            <label for="rdo-2" class="btn-radio">
                <input type="radio" id="rdo-2" value="Oportunidades Cerradas" name="radio-grp">
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                    <circle cx="10" cy="10" r="9"></circle>
                    <path
                        d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                        class="inner"></path>
                    <path
                        d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                        class="outer"></path>
                </svg>
                <span></span>
            </label>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-warning"><i class="fas fa-briefcase"></i></div>
                    <div class="m-l-10 align-self-center text-center">
                        <h2 class="m-b-0 font-lgiht">{{ cantidad_cerradas }}</h2>
                        <h5 class="text-muted m-b-0">
                            {% if cantidad_cerradas == 1%}
                            Oportunidad Cerrada
                            {% else %}
                            Oportunidades Cerradas
                            {% endif %}
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Column -->
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="cntr">
            <label for="rdo-3" class="btn-radio">
                <input type="radio" id="rdo-3" value="Oportunidades Archivadas" name="radio-grp">
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                    <circle cx="10" cy="10" r="9"></circle>
                    <path
                        d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                        class="inner"></path>
                    <path
                        d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                        class="outer"></path>
                </svg>
                <span></span>
            </label>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-danger"><i class="fas fa-briefcase"></i></div>
                    <div class="m-l-10 align-self-center text-center">
                        <h3 class="m-b-0 font-lgiht">{{ cantidad_archivadas }}</h3>
                        <h5 class="text-muted m-b-0">
                            {% if cantidad_archivadas == 1%}
                            Oportunidad Archivada
                            {% else %}
                            Oportunidades Archivadas
                            {% endif %}
                        </h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
    </div>

<div class="container-fluid">
{% for estado,estado_completo in estados %}
        <div class="row oport">
        <div class="col-12">

            <div class="card" style="margin-top:3%;">
                <div class="{% if estado == 'A' %}card-outline-info{% elif estado == 'C' %}card-outline-warning{% else %}card-outline-danger{% endif %}">
                <div class="card-header">
                    <h4 class="m-b-0 text-white oport-search">
                        {% if estado == 'A' %}Oportunidades Abiertas{% elif estado == 'C' %}Oportunidades Cerradas{% else %}Oportunidades Archivadas{% endif %}
                    </h4>
                </div>
                </div>
                <div class="container-fluid">
                    <div class="dataTables_filter">
                        <label for=""> <b>Buscar : </b></label>
                        <input type="text" placeholder="Oportunidades o Empresas" id="{% if estado == 'A' %}search{% elif estado == 'C' %}search2{% else %}search3{% endif %}"
                            class="form-control form-control-sm">
                    </div>
                </div>
                <div class="card-body">

            {% if estado == 'A' %}
                    {% for oportunidad,calificacion in oport_abiertas %}
                        <div class="card filter">
                            {% include 'layouts/oportunidades_layout.html' %}
                        </div>
                    {% endfor %}
            {% elif estado == 'C' %}
                    {% for oportunidad,calificacion in oport_cerradas %}
                            <div class="card filter2">
                            {% include 'layouts/oportunidades_layout.html' %}
                        </div>
                    {% endfor %}
            {% elif estado == 'P' %}
                    {% for oportunidad,calificacion in oport_archivadas %}
                            <div class="card filter3">
                            {% include 'layouts/oportunidades_layout.html' %}
                        </div>
                    {% endfor %}
            {% else %}
                            <h3>No se encontraron oportunidades</h3>
                    </div>
            {% endif %}
            </div>
            </div>
        </div>
</div>
{% endfor %}

    {% endblock contenido %}

    {% block extrajs %}
    <!-- filtro personalizado -->
    <script src="{% static 'js/input-filter.js'%}"></script>

    {% endblock extrajs %}