{% load widget_tweaks %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">VISTA PREVIA</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
</div>
<div class="modal-body">

<div class="media" style="border-style: none;">
  <img src="{% if oportunidad.empresa.logo %}{{ oportunidad.empresa.logo.url }}{% endif %}" class="align-self-center mr-5 rounded-circle" alt="{{ oportunidad.empresa.nombre}}" width="130" height="130">
  <div class="media-body">
            <h3><b>{{ oportunidad.titulo }}</b></h3>
            <h5>{{ oportunidad.empresa.nombre | upper }}</h5>
            <h5>{{ oportunidad.ciudad.descripcion | upper }}, {{ oportunidad.distrito.descripcion }}</h5>
            <h5>Remuneración: S./
                {%if oportunidad.remuneracion.descripcion == 'Fijo' %}
                    {{ oportunidad.remuneracion_min }}
                {%elif oportunidad.remuneracion.descripcion == 'Intervalo' %}
                    {{oportunidad.remuneracion_min}} - {{oportunidad.remuneracion_max}}
                {%else%}
                    {{ oportunidad.remuneracion }}
                {%endif%}</h5>

  </div>
    <div class="row fecha">
        <div class="col-sm-12">
            <span class="text-color"><h5>Fecha de Cierre</h5></span>
            <h6 class="text-color">{{ oportunidad.fecha_cese | date:"SHORT_DATE_FORMAT" }}</h6>
        </div>


    </div>
</div>
    <div class="card-outline-info">
        <div class="card-header">
            <h5 class="m-b-0 text-white titulo"><i class="fas fa-info-circle icono"></i>Información</h5>
        </div>
    <div class="card-body">
  <div class="row filas">
    <div class="col-sm-4">
        <h5 >Tipo de vacante</h5>
    </div>
    <div class="col-sm-8">
      <h6 class="text-color">{{ oportunidad.tipo_puesto }}</h6>
    </div>

      </div>

          <div class="row filas">
    <div class="col-sm-4">
      <h5>Jornada de trabajo</h5>
    </div>
    <div class="col-sm-8">
      <h6 class="text-color">
          {% if oportunidad.carga_horaria  %}
            {{ oportunidad.carga_horaria }}
          {% else %}
              Sin especificar
          {% endif %}
      </h6>
    </div>

      </div>
        <div class="row filas">

    <div class="col-sm-4">
      <h5>Resumen</h5>
    </div>
    <div class="col-sm-8">
      <h6 class="text-color">{{ oportunidad.resumen }}</h6>
    </div>

      </div>

        </div>
</div>


    <div class="card-outline-info">
        <div class="card-header">
            <h5 class="m-b-0 text-white titulo"><i class="fas fa-user-tie icono"></i>Perfil del candidato</h5>
        </div>
    <div class="card-body">
  <div class="row filas">
    <div class="col-sm-4">
        <h5>Rama Carrera</h5>
    </div>
    <div class="col-sm-8">
        {% for carrera in oportunidad.rama_carrera.all %}
            <h6 class="tag">{{ carrera }}</h6>
        {% endfor %}
    </div>

      </div>

        <div class="row filas">
    <div class="col-sm-4">
      <h5>Conocimientos</h5>
    </div>
    <div class="col-sm-8">
        {% for conocimiento in oportunidad.conocimiento.all %}
            <h6 class="tag">{{ conocimiento }}</h6>
        {% endfor %}
    </div>

      </div>
        <div class="row filas">

    <div class="col-sm-4">
      <h5>Idiomas</h5>
    </div>
    <div class="col-sm-8">
        {% for idioma in oportunidad.idioma.all %}
            <h6 class="tag">{{ idioma }}</h6>
        {% endfor %}
    </div>

      </div>
                <div class="row filas">

    <div class="col-sm-4">
      <h5>Graduación / Graduación estimada</h5>
    </div>
    <div class="col-sm-8">
        <h6 class="tag">
            {{ oportunidad.graduacion_desde }} - {{ oportunidad.graduacion_hasta }}
        </h6>
    </div>

      </div>

        </div>
</div>
        <div class="card-outline-info">
        <div class="card-header">
            <h5 class="m-b-0 text-white titulo"><i class="far fa-thumbs-up icono"></i>Beneficios</h5>
        </div>
    <div class="card-body">
  <div class="row filas">
      <div class="col-sm-12">
          {% for beneficio in oportunidad.beneficio.all %}
              <h6 class="tag">{{ beneficio }}</h6>
        {% endfor %}
    </div>
      </div>
        </div>
</div>
    <div class="modal-footer">

      <button type="button" class="btn btn-info  waves-effect" data-dismiss="modal">Cerrar</button>
    </div>
</div>
