{% load widget_tweaks %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">VISTA PREVIA</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
</div>
<div class="modal-body">

<div class="media" style="border-style: none;">
  <img src="{% static 'img/circulo-rojo.png' %}" class="align-self-center mr-5" alt="..." width="100" height="100">
  <div class="media-body">
            <h3><b>Controlador de Hornos - Horario Rotativo</b></h3>
            <h5>COMPAÑÍA MINERA LUREN S.A.</h5>
            <h5>LIMA, Perú</h5>
            <h5>Remuneración: S./ 1111</h5>
</div>
</div>
    <div class="card-outline-info">
        <div class="card-header">
            <h5 class="m-b-0 text-white titulo"><i class="fas fa-info-circle icono"></i>Información</h5>
        </div>
    <div class="card-body">
  <div class="row filas">
    <div class="col-sm-4">
        <h5 >Tipo de vacante</h5>
    </div>
    <div class="col-sm-8">
      <h6 class="text-color">Administrador</h6>
    </div>

      </div>

          <div class="row filas">
    <div class="col-sm-4">
      <h5>Jornada de trabajo</h5>
    </div>
    <div class="col-sm-8">
      <h6 class="text-color">Full time</h6>
    </div>

      </div>
        <div class="row filas">

    <div class="col-sm-4">
      <h5>Resumen</h5>
    </div>
    <div class="col-sm-8">
      <h6 class="text-color">Controlar la operación y verificar los parámetros de operación del los hornos de acuerdo con los parámetros de calidad y producción establecidos

Verificar monitoreo mecánico y electrónico de la maquinaria

Controlar los valores de temperatura, presión y dosificación de combustible

Monitorear el pérfil de temperaturas del casco, polines a fin de tomar acciones cuando se desvian de los parámetros de control establecidos

Realizar reporte párametros de trabajo, incidencias, paradas y Verificar el cumplimiento de las labores de equipo de trabajo a su cargor</h6>
    </div>

      </div>

        </div>
</div>


    <div class="card-outline-info">
        <div class="card-header">
            <h5 class="m-b-0 text-white titulo"><i class="fas fa-user-tie icono"></i>Perfil del candidato</h5>
        </div>
    <div class="card-body">
  <div class="row filas">
    <div class="col-sm-4">
        <h5>Rama Carrera</h5>
    </div>
    <div class="col-sm-8">
      <h6 class="tag">Mantenimiento eléctrico y automatización</h6>
        <h6 class="tag">MECÁNICA AUTOMOTRIZ</h6>
    </div>

      </div>

        <div class="row filas">
    <div class="col-sm-4">
      <h5>Conocimientos</h5>
    </div>
    <div class="col-sm-8">
        <h6 class="tag">Microsoft Word - Básico</h6>
        <h6 class="tag">Microsoft Excel - Básico</h6>
    </div>

      </div>
        <div class="row filas">

    <div class="col-sm-4">
      <h5>Idiomas</h5>
    </div>
    <div class="col-sm-8">
        <h6 class="tag">Inglés - Básico</h6>
    </div>

      </div>
                <div class="row filas">

    <div class="col-sm-4">
      <h5>Graduación / Graduación estimada</h5>
    </div>
    <div class="col-sm-8">
        <h6 class="tag">2do Semestre 2015 - 2do Semestre 2016</h6>
    </div>

      </div>

        </div>
</div>
        <div class="card-outline-info">
        <div class="card-header">
            <h5 class="m-b-0 text-white titulo"><i class="far fa-thumbs-up icono"></i>Beneficios</h5>
        </div>
    <div class="card-body">
  <div class="row filas">
    <div class="col-sm-12">
      <h6 class="tag">Almuerzo</h6>
        <h6 class="tag">Transporte</h6>

    </div>
      </div>
        </div>
</div>
</div>



{#                            <div class="card card-outline-info">#}
{#                                <div class="card-header">#}
{#                                     <h5 class="m-b-0 text-white">Controlador de Hornos - Horario Rotativo</h5>#}
{#                                </div>#}
{#                                <div class="card-body">#}
{#                                <small class="text-muted">Email address</small>#}
{#                                <h6>hannagover@gmail.com</h6> <small class="text-muted p-t-30 db">Phone</small>#}
{#                                <h6>+91 654 784 547</h6> <small class="text-muted p-t-30 db">Address</small>#}
{#                                <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>#}
{#                                 </div>#}
{#                            </div>#}
{#                            <div class="card card-outline-info">#}
{#                                <div class="card-header">#}
{#                                     <h5 class="m-b-0 text-white">Perfil del candidato</h5>#}
{#                                </div>#}
{#                                <div class="card-body">#}
{#                                <small class="text-muted">Email address</small>#}
{#                                <h6>hannagover@gmail.com</h6> <small class="text-muted p-t-30 db">Phone</small>#}
{#                                <h6>+91 654 784 547</h6> <small class="text-muted p-t-30 db">Address</small>#}
{#                                <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>#}
{#                                 </div>#}
{#                            </div>#}
{#                            <div class="card card-outline-info">#}
{#                                <div class="card-header">#}
{#                                     <h5 class="m-b-0 text-white">Beneficios</h5>#}
{#                                </div>#}
{#                                <div class="card-body">#}
{#                                <small class="text-muted">Email address</small>#}
{#                                <h6>hannagover@gmail.com</h6> <small class="text-muted p-t-30 db">Phone</small>#}
{#                                <h6>+91 654 784 547</h6> <small class="text-muted p-t-30 db">Address</small>#}
{#                                <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>#}
{#                                 </div>#}
{#                            </div>#}
    <!-- /.modal-content -->

    <!-- /.modal-dialog -->