{% extends 'layouts/base.html' %}

{% block titulo %}Contraseña cambiada correctamente{% endblock titulo %}

{% block contenido %}

        <div class="row">

        <div class="col-lg-12">
                                <div class="card" style="margin-top: 3%;">
                                    <div class="card-body">
                                        <h2>Contraseña cambiada correctamente</h2>
                                        <p>Su contraseña ha sido cambiada.</p>
                                    </div>
                                </div>
        </div>
    </div>
{% endblock contenido %}