{% extends 'layouts/base.html' %}
{% load static %}

{% block titulo %}Empresas{% endblock titulo %}
{% block extracss %}

<link rel="stylesheet" href="{% static 'css/custom-switch.css' %}">
{% endblock extracss %}


{% block contenido %}
<!-- Start Page Content -->
<!-- ============================================================== -->
{% if messages %}
<div id="results">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable" {% endif %}>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>{{ message }}</h4>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="row">
    <div class="col-12">

<!-- Modal -->
<div class="modal fade" id="modalActivacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h4>¿Estás seguro que deseas activar esta empresa?</h4>
          <p>Si acepta, la empresa podrá tener acceso al sistema y se le enviará un correo informando esto.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="confirmacion" data-dismiss="modal">Aceptar</button>
          <button type="button" class="btn btn-secondary" id="cancelar" data-dismiss="modal">Cancelar</button>

      </div>
    </div>
  </div>
</div>
    <div class="modal fade" id="modalDesactivacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h4>¿Estás seguro que deseas desactivar esta empresa?</h4>
          <p>Si acepta, la empresa no podrá acceder al sistema a partir de ahora.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="confirmacion2" data-dismiss="modal">Aceptar</button>
          <button type="button" class="btn btn-secondary" id="cancelar2" data-dismiss="modal">Cancelar</button>

      </div>
    </div>
  </div>
</div>
        <div class="card" style="margin-top:3%;">
            <div class="card-body">
                <h4 class="card-title">LISTA DE EMPRESAS</h4>
                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Representante</th>
                                <th>Correo</th>
                                <th>Fecha creación</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dato in datos  %}
                            <tr>
                                <td>{{ dato.empresa.nombre }}</td>
                                <td>{{ dato.persona.usuario.first_name }}</td>
                                <td>{{ dato.persona.usuario.email }}</td>
                                <td>{{ dato.empresa.fecha_creacion }}</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" id="{{ dato.id }}" value="{{ dato.estado }}"
                                            class="checkbox">
                                        <span></span>
                                    </label>
                                </td>

                                {% endfor %}

                        </tbody>
                    </table>

                    <div class="destino">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}


{% block extrajs %}
<script>
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>
<script src="{% static 'js/cambio-estado.js'%}"></script>
<script src="{% static 'js/DjangoAjax.js'%}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

{% endblock extrajs %}